@import 'swiper/css';
@import 'swiper/css/navigation';
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Glacial Indifference Regular';
  src: url('/fonts/glacial-indifference.regular.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


body{
  overflow-x: hidden!important;
  box-sizing: border-box;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    width: 30px; /* Butonun genişliği */
    height: 30px; /* Butonun yüksekliği */
    background-color: rgba(0, 0, 0, 0.5); /* Arka plan rengi */
    color: white; /* İkon rengi */
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* İkon boyutunu küçültme */
.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
    font-size: 16px;
}
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; 
}



@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .animated-bg {
    background: linear-gradient(270deg, #ff7eb3, #ff758c, #ff7e5f, #feb47b);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
  }
}
.custom-bg{
background: rgb(0,98,251);
background: radial-gradient(circle, rgba(0,98,251,1) 0%, rgba(255,0,0,1) 60%);
}
.gradient-header{
   background-image: linear-gradient(to right top, #40c9ff, #00b9ff, #35a0ff, #9b78ff, #e81cff);
}


.header {
  background: rgb(75, 187, 246); /* Yedek düz renk */
  background: linear-gradient(
    to bottom, /* Yukarıdan aşağıya doğru */
    rgba(75, 187, 246, 1) 0%, /* Yukarıda tam opak mavi */
    rgba(255, 255, 255, 1) 100% /* Aşağıda tamamen beyaz */
  );
}

.clip{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}