@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .animated-bg {
    background: linear-gradient(270deg, #ff7eb3, #ff758c, #ff7e5f, #feb47b);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
  }
}
.custom-bg{
background: rgb(0,98,251);
background: radial-gradient(circle, rgba(0,98,251,1) 0%, rgba(255,0,0,1) 60%);
}